:root {
  /* Colour Properties*/
  --text-colour: #f1f1f1;
  --primary-colour: #2196f3;
  --secondary-colour: #333;
  --link-colour: #2196f3;
  --link-hover-colour: #1e88e5;
  --card-background: #444;
  --card-radius: 0.5rem;
  --card-border: #333;
  --card-shadow: rgba(0, 0, 0, 0.5);
  --button-background: #2196f3;
  --button-hover-background: #1e88e5;
  --button-colour: #fff;
  --destructive-action-backgound: #db1b1b;
  --destructive-action-hover-background: #db1b1b8e;
  --input-background: #555;
  --input-border: #444;
  --input-text-colour: #fff;

  /* Size Properties*/
  --button-minimum-diameter: 2.75em;

  /* Typography Properties */
  --font-size: 16px;
}
