:root {
  /* Colour Properties*/
  --text-colour: #f1f1f1;
  --primary-colour: #2196f3;
  --secondary-colour: #333;
  --link-colour: #2196f3;
  --link-hover-colour: #1e88e5;
  --card-background: rgba(85, 85, 85, 0.6);
  --card-radius: 0.5rem;
  --card-border: #333;
  --card-shadow: rgba(0, 0, 0, 0.5);
  --button-background: #2196f3;
  --button-hover-background: #1e88e5;
  --button-colour: #fff;
  --destructive-action-backgound: #db1b1b;
  --destructive-action-hover-background: #db1b1b8e;
  --input-background: #555;
  --input-border: #444;
  --input-text-colour: #fff;
  --text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  /* Size Properties*/
  --button-minimum-diameter: 2.75em;

  /* Typography Properties */
  --font-size: 16px;

  --popover-background: rgba(68, 68, 68, 0.6);
  --popover-backdrop: rgba(0, 0, 0, 0.2);
  --popover-border: rgba(255, 255, 255, 0.1);
  --popover-blur: 12px;
}
