<div class="card">
  <menu class="nav-menu" role="tablist" hx-boost="true" hx-replace-url="false">
    <a
      hx-get="organisms/junderoth.html"
      class="selected"
      role="tab"
      aria-selected="true"
      aria-controls="tab-content"
      hx-target="#tabs"
      hx-swap="innerHTML"
    >
      An Overview of Junderoth
    </a>
  </menu>
  <div
    id="tabs"
    hx-get="/organisms/junderoth.html"
    hx-trigger="load"
    hx-target="#tabs"
    hx-swap="innerHTML"
  >
  </div>
</div>
