div.status {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  label {
    font-size: 1.1rem;

    output {
      font-size: 1.1rem;
    }
  }

  button {
    width: min-content;
  }
}

table.initiative-table {
  display: grid;
  grid-template-columns: 0.5fr 0.75fr repeat(3, 0.5fr) 1.75fr 0.5fr;
  width: 100%;
  border-collapse: collapse;

  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    text-align: center;
    font-weight: normal;
    font-size: 1.1rem;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  th.initiative-header {
    button {
      float: right;
    }
  }
}
