section.character-sheet {
  label {
    span {
      display: flex;
      flex-direction: row;
    }
  }

  input,
  label {
    display: block;
    margin: 0.125em;
  }

  div.sheet-heading {
    grid-template-columns: .75 1.25fr;
  }
    
  fieldset {
    height: min-content;
    margin: 0.125em;
  }

  fieldset.character-sheet-heading {

    align-items: center;

    .character-name {
      width: 92%;

    }

    fieldset.character-sheet-core {
      align-items: center;

      input[name="character-race"],
      input[name="character-background"],
      input[name="player-name"],
      input[name="character-alignment"],
      input[name="character-experience-points"] {
        width: 93%;
      }

      fieldset.character-sheet-class-and-level {
        border: none;
        display: grid;
        grid-template-columns: 0.75fr 0.25fr;
      }
    }
  }

  fieldset.character-sheet-ability {
    display: flex;
    flex-direction: row;

    input[type="number"] {
      width: 2em;
    }
  }
}
