<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Character Sheet</title>
  <link rel="stylesheet" href="static/styles.css" />
  <link rel="icon" href="images/favicon.ico" />
  <script src="https://unpkg.com/htmx.org@2.0.2"
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <script src="static/script.js" type="module"></script>
</head>

<body>
  <main>
    <div id="dice-roller" popover="manual" class="card" hx-get="molecules/roller.html" hx-trigger="load"
      hx-swap="innerHTML">
    </div>

    <section class="character-sheet">
      <div class="flex-row">
        <div class="flex-column">
          <fieldset hx-get="organisms/passives.html" hx-trigger="load" hx-swap="outerHTML">
          </fieldset>

          <fieldset hx-get="organisms/abilities.html" hx-trigger="load" hx-swap="outerHTML">
          </fieldset>

          <fieldset>
            <legend>OTHER PROFICIENCIES & LANGUAGES</legend>
            <div class="centred">
              <input id="proficiency-select" type="text" list="proficiencies">
              <datalist id="proficiencies">
                <option value="Simple Weapons"></option>
                <option value="Martial Weapons"></option>
                
                <!-- Simple Weapons -->
                <option value="Club">
                  <option value="Dagger">
                    <option value="Greatclub">
                      <option value="Handaxe">
                        <option value="Javelin">
                <option value="Light Hammer">
                <option value="Mace">
                <option value="Quarterstaff">
                <option value="Sickle">
                <option value="Spear">
                  <option value="Light Crossbow">
                <option value="Dart">
                <option value="Shortbow">
                <option value="Sling">
  
                  <!-- Martial Weapons -->
                <option value="Battleaxe">
                <option value="Flail">
                <option value="Glaive">
                <option value="Greataxe">
                <option value="Greatsword">
                <option value="Halberd">
                <option value="Lance">
                <option value="Longsword">
                <option value="Maul">
                  <option value="Morningstar">
                <option value="Pike">
                <option value="Rapier">
                <option value="Scimitar">
                <option value="Shortsword">
                <option value="Trident">
                <option value="War Pick">
                <option value="Warhammer">
                <option value="Whip">
                <option value="Blowgun">
                <option value="Hand Crossbow">
                  <option value="Heavy Crossbow">
                    <option value="Longbow">
                <option value="Net">
  
                  <!-- Light Armour -->
                <option value="Padded Armour">
                <option value="Leather Armour">
                <option value="Studded Leather Armour">
                  
                  <!-- Medium Armor -->
                <option value="Hide Armour">
                <option value="Chain Shirt">
                <option value="Scale Mail">
                <option value="Breastplate">
                  <option value="Half Plate">
  
                  <!-- Heavy Armor -->
                <option value="Ring Mail">
                <option value="Chain Mail">
                <option value="Splint Armour">
                <option value="Plate Armour">
  
                  <!-- Other -->
                <option value="Shield">
  
                  <!-- Artisan's Tools -->
                <option value="Alchemist's Supplies">
                <option value="Brewer's Supplies">
                <option value="Calligrapher's Supplies">
                <option value="Carpenter's Tools">
                <option value="Cartographer's Tools">
                <option value="Cobbler's Tools">
                  <option value="Cook's Utensils">
                <option value="Glassblower's Tools">
                <option value="Jeweler's Tools">
                <option value="Leatherworker's Tools">
                <option value="Mason's Tools">
                <option value="Painter's Supplies">
                <option value="Potter's Tools">
                <option value="Smith's Tools">
                <option value="Tinker's Tools">
                <option value="Weaver's Tools">
                <option value="Woodcarver's Tools">
  
                  <!-- Gaming Sets -->
                <option value="Dice Set">
                <option value="Dragonchess Set">
                <option value="Playing Card Set">
                <option value="Three-Dragon Ante Set">
  
                  <!-- Musical Instruments -->
                  <option value="Bagpipes">
                <option value="Drum">
                <option value="Dulcimer">
                <option value="Flute">
                <option value="Lute">
                <option value="Lyre">
                <option value="Horn">
                <option value="Pan Flute">
                <option value="Shawm">
                <option value="Viol">
  
                  <!-- Other Tools -->
                <option value="Disguise Kit">
                <option value="Forgery Kit">
                <option value="Herbalism Kit">
                <option value="Navigator's Tools">
                <option value="Poisoner's Kit">
                <option value="Thieves' Tools">
  
                  <!-- Standard Languages -->
                <option value="Common">
                <option value="Dwarvish">
                <option value="Elvish">
                <option value="Giant">
                <option value="Gnomish">
                <option value="Goblin">
                <option value="Halfling">
                <option value="Orc">
  
                  <!-- Exotic Languages -->
                <option value="Abyssal">
                <option value="Celestial">
                  <option value="Draconic">
                <option value="Deep Speech">
                <option value="Infernal">
                <option value="Primordial">
                <option value="Sylvan">
                <option value="Undercommon">
  
                  <!-- Skills -->
                <option value="Acrobatics">
                <option value="Animal Handling">
                <option value="Arcana">
                <option value="Athletics">
                <option value="Deception">
                <option value="History">
                <option value="Insight">
                <option value="Intimidation">
                <option value="Investigation">
                <option value="Medicine">
                <option value="Nature">
                <option value="Perception">
                <option value="Performance">
                <option value="Persuasion">
                <option value="Religion">
                <option value="Sleight of Hand">
                <option value="Stealth">
                <option value="Survival">
  
                  <!-- Saving Throws -->
                <option value="Strength Saving Throw">
                <option value="Dexterity Saving Throw">
                <option value="Constitution Saving Throw">
                <option value="Intelligence Saving Throw">
                <option value="Wisdom Saving Throw">
                <option value="Charisma Saving Throw">
  
                  <!-- Vehicle Proficiencies -->
                <option value="Land Vehicles">
                <option value="Water Vehicles">
                <option value="Airborne Vehicles">
  
                </datalist>
                <button
                _="on click 
                set proficiency to the (value of the previous <input/>) 
                if proficiency is not empty
                    make a <span.chip/> called proficiencyChip
                    make a <span.chip-label/> called proficiencyLabel
                    set proficiencyLabel.innerHTML to proficiency
                    put proficiencyLabel at the start of proficiencyChip
                    make a <button.destructive/> called deleteProficiencyButton
                    set deleteProficiencyButton's innerHTML to '&#10006;' 
                    set deleteProficiencyButton's @_ to 'on click remove closest <span.chip/>'
                    set deleteProficiencyButton's @title to 'Remove Proficiency'
                    put deleteProficiencyButton at the end of proficiencyChip
                    put proficiencyChip at the end of the next <output/>
                    set the (value of the previous <input/>) to ''
                end"
                >&#43;</button>
            </div>
              <output id="other-proficiencies"></output>
          </fieldset>
        </div>

        <div name="flex-row">
          <fieldset hx-get="organisms/heading.html" hx-trigger="load" hx-swap="outerHTML">
          </fieldset>
          
          <fieldset hx-get="organisms/defence.html" hx-trigger="load" hx-swap="outerHTML">
          </fieldset>

          <fieldset hx-get="organisms/attacks.html" hx-trigger="load" hx-swap="outerHTML">
          </fieldset>

          <fieldset hx-get="organisms/equipment.html" hx-trigger="load" hx-swap="outerHTML">
          </fieldset>
        </div>
      </div>
    </section>
  </main>
</body>

</html>