body {
  font-family: var(--font-family-sans);
  font-size: var(--font-size);
  line-height: 1.6;
  color: var(--text-colour);
  background-color: var(--secondary-colour);
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
