article.npc {
    padding: var(--spacing-md);
    
    img {
        height: 15em;
    }
    
    div.npc-breakdown {
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: .75fr 1fr 1fr;
        gap: var(--spacing-sm);
    }
}