/* Dice roller popover specific styles */
#dice-roller:popover-open {
  width: 450px;
  max-width: 90%;
  height: 15vh;

  div.dice-roller {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0.5rem;

    input,
    select,
    label {
      display: block;
    }

    label {
      font-size: 0.8rem;
      text-align: center;
      padding-right: 0.25rem;
      float: right;
    }

    input {
      width: 5em;
    }

    select {
      width: 7.5em;
    }
  }

  label {
    font-size: 1.5rem;
  }

  output {
    text-wrap: pretty;
    white-space: pre-wrap;
    position: relative;
    text-shadow: var(--text-shadow);

    span.roll,
    span.rolls,
    span.modifier,
    span.vantage {
      padding-left: 0.5rem;
    }

    span.roll {
      span.total {
        padding-right: 0.25rem;
        font-weight: bold;
      }
    }
  }
}
