<fieldset name="character-sheet-abiility-strength-score" class="character-sheet-ability">
  <legend>STRENGTH</legend>
  <div hx-get="molecules/strength.html" hx-trigger="load" hx-swap="outerHTML"></div>
</fieldset>

<fieldset name="character-sheet-abiility-dexterity-score" class="character-sheet-ability">
  <legend>DEXTERITY</legend>
  <div hx-get="molecules/dexterity.html" hx-trigger="load" hx-swap="outerHTML"></div>
</fieldset>

<fieldset name="character-sheet-abiility-constitution-score" class="character-sheet-ability">
  <legend>CONSTITUTION</legend>
  <div hx-get="molecules/constitution.html" hx-trigger="load" hx-swap="outerHTML"></div>
</fieldset>

<fieldset name="character-sheet-abiility-intelligence-score" class="character-sheet-ability">
  <legend>INTELLIGENCE</legend>
  <div hx-get="molecules/intelligence.html" hx-trigger="load" hx-swap="outerHTML"></div>
</fieldset>

<fieldset name="character-sheet-abiility-wisdom-score" class="character-sheet-ability">
  <legend>WISDOM</legend>
  <div hx-get="molecules/wisdom.html" hx-trigger="load" hx-swap="outerHTML"></div>
</fieldset>

<fieldset name="character-sheet-abiility-charisma-score" class="character-sheet-ability">
  <legend>CHARISMA</legend>
  <div hx-get="molecules/charisma.html" hx-trigger="load" hx-swap="outerHTML"></div>
</fieldset>