<menu class="nav-menu" role="tablist" hx-boost="true" hx-replace-url="false">
  <a
    hx-get="organisms/overview.html"
    class="selected"
    role="tab"
    aria-selected="true"
    aria-controls="tab-content"
    hx-target="#tabs"
    hx-swap="innerHTML"
  >
    Overview
  </a>
  <a
    hx-get="/organisms/history.html"
    role="tab"
    aria-selected="false"
    aria-controls="tab-content"
    hx-target="#tabs"
    hx-swap="innerHTML"
  >
    History
  </a>
  <a
    hx-get="/organisms/cultures.html"
    role="tab"
    aria-selected="false"
    aria-controls="tab-content"
    hx-target="#tabs"
    hx-swap="innerHTML"
  >
    Cultures
  </a>
  <a
    hx-get="/organisms/locations.html"
    role="tab"
    aria-selected="false"
    aria-controls="tab-content"
    hx-target="#tabs"
    hx-swap="innerHTML"
  >
    Locations
  </a>
  <a
    hx-get="/organisms/flora.html"
    role="tab"
    aria-selected="false"
    aria-controls="tab-content"
    hx-target="#tabs"
    hx-swap="innerHTML"
  >
    Flora
  </a>
  <a
    hx-get="/organisms/fauna.html"
    role="tab"
    aria-selected="false"
    aria-controls="tab-content"
    hx-target="#tabs"
    hx-swap="innerHTML"
  >
    Fauna
  </a>
  <a
    hx-get="/organisms/port-walen.html"
    role="tab"
    aria-selected="false"
    aria-controls="tab-content"
    hx-target="#tabs"
    hx-swap="innerHTML"
  >
    Port Walen
  </a>
  <a
    hx-get="/organisms/npcs.html"
    role="tab"
    aria-selected="false"
    aria-controls="tab-content"
    hx-target="#tabs"
    hx-swap="innerHTML"
  >
    NPCs
  </a>
  <a
    hx-get="/organisms/adventures.html"
    role="tab"
    aria-selected="false"
    aria-controls="tab-content"
    hx-target="#tabs"
  >
    Adventures
  </a>
</menu>
