.search-bar{
  margin: 0 auto;
  padding: 1rem;

  input[type="search"] {
    width: 100%;
  }

  input[type="search"].found {
    color: transparent;
  }

  button.destructive {
    float: right;
  }
}
