#search:popover-open {
  width: 35vw;
  height: 70vh;
  position: fixed;
  inset: unset;
  right: 4em;
  bottom: 2.5em;

  input[type="search"] {
    width: 100%;
  }

  input[type="search"].found {
    color: transparent;
  }

  button.destructive {
    float: right;
  }
}
