article.statblock {
  ul {
    list-style-type: none;
  }

  table {
    width: unset;
  }

  th,
  tr {
    padding: unset;
    background: unset;
  }

  tr:hover td {
    background-color: unset;
  }

  thead th {
    font-size: x-small;
  }

  thead td {
    border-bottom: unset;
  }

  td.mod-save {
    text-align: center;
  }

  button.roller {
    all: unset;
    color: var(--link-colour);
  }

  button.roller:hover {
    color: var(--link-hover-colour);
    cursor: pointer;
  }
}
